/* Extra small devices (phones, less than 768px) */

body {
    color: #454545;
}

div {
    font-family: 'Raleway', sans-serif;
}

/* Header section */
#now {
    padding: 20px 0;
    
    background-color: #77DD77;
}

#now img {
    max-width: 100%;
}

#nowDay {
    display: block;
    margin-bottom: -20px;
    font-size: 6.5vw;
    font-family: 'Montserrat', sans-serif;
}

#nowHigh, #nowLow {
    font-size: 20vw; /* 5em */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.nowLabel {
    display: block;
    margin-top: -5vw;
    font-size: 4vw;
}

#nowHigh {
    color: tomato;
}

#nowLow {
    color: cadetblue;
}

#nowStatus {
    margin: 10px 0 0 0;
    font-size: 1.3em;
}

/* Features (coloured background) */
#chat {
    padding-top: 10px;
    max-height: 250px;
    overflow: scroll;
}

#chat::-webkit-scrollbar { 
    display: none; 
}

/* Speech */
.speech {
    display: block;
    clear: both;
    max-width: 80%;
    margin-bottom: 10px;
    
    padding: 7px 14px;
    border-radius: 20px;
    
    font-size: 1.3em;
}

.feature .speech:first-child {
    margin-top: 20px;
}

.feature .speech:last-child {
    margin-bottom: 20px;
}

.photo .speech:first-child {
    margin-top: 200px;
}

/* Speech to Weather Lad */
.to {
    float: right;
    background-color: #FDFD96;
}

/* Speech from Weather Lad */
.from {
    float: left;
    color: white;
    background-color: #FF6961;
}

/* Say something */
#saySomething {
    margin-top: 10px;
}

.say {
    float: none;
    max-width: none;
    background-color: #a2ff85;
}

.say input {
    background-color: inherit;
    border-width: 0;
    border: none;
    width: 100%;
    box-shadow: 0;
}

.say input:focus {
    outline: none;
}

#endOfMessages {
    display: none;
}

footer {
    min-height: 80px;
    padding: 30px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }